<h1 class="hp1">Sign Up</h1>
  <%=form_with model: @user, url: sign_up_path do |form| %>
    <p class="hpp2">
    <%= form.label :email %><br>
    <%= form.text_field :email %>
    </p>
    <p class="hpp2">
    <%= form.label :password %><br>
    <%= form.password_field :password %>
    </p>
    <p class="hpp2">
    <%= form.label :password_confirmation %><br>
    <%= form.password_field :password_confirmation %>
    </p>
    <p class="hpp3">
    <%= form.submit 'Sign Up' %>
    <%= link_to "Cancel", root_path%>
    </p>
  <% end %>
