<p style="notice"><%= notice %></p>

<%= render @project %>

<div id="todo_items_wrapper">
<%= render @project.tasks%>
<div id="form">
<%= render "tasks/form"%>
</div>
</div>
<div>
  <%= link_to "Edit this project", edit_project_path(@project) %> |
 <%= link_to "Back to projects", projects_path %>
  <%= button_to "Destroy this project", @project, method: :delete, data: {
    turbo_confirm: "Are you sure you want to delete this project?"
  } %>
</div>
